<!--TODO:沒輸入時的提醒標語-->

<div class="whole">
  @for(item of workOrderData; track $index){
  <div class="content">
    <div class="quotation-container">
      <div style="display:flex; align-items: center;">
        <mat-icon fontIcon="arrow_back" class="return-icon" (click)="return()"></mat-icon>
        <h2>作業指示書の編集</h2>
      </div>
      <div>
        <!-- 基本情報 -->
        <section class="section">
          <h3>基本情報</h3>
          <div class="form-grid three-columns">
            <div class="form-group">
              <label>作業指示書番号</label>
              <input type="text" [(ngModel)]="item.workOrderID" disabled>
            </div>
            <div class="form-group">
              <label>注文番号</label>
              <input [(ngModel)]="item.orderID" disabled>
            </div>
            <div class="form-group">
              <label>状態</label>
              <select [(ngModel)]="item.status">
                <option value="処理待ち">処理待ち</option>
                <option value="作業中">作業中</option>
              </select>
            </div>
          </div>

          <div class="form-grid " style="margin-top: 5px;">
            <div class="form-group">
              <label>予定開始日</label>
              <input type="date" [(ngModel)]="item.plannedStartDate">
            </div>
            <div class="form-group">
              <label>予定完了日</label>
              <input type="date" [(ngModel)]="item.plannedEndDate">
            </div>
            <div class="form-group">
              <label>実際開始日</label>
              <input type="date" [(ngModel)]="item.actualStartDate">
            </div>
            <div class="form-group">
              <label>実際完了日</label>
              <input type="date" [(ngModel)]="item.actualEndDate">
            </div>

          </div>
        </section>



        <!-- 明細資訊 -->
        <section class="section">
          <div class="detailSe"
            style="display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #4981cf;  margin-bottom: 20px;">
            <h3 style="margin: 1px; padding-bottom: 4px; border-bottom: none">注文明細</h3>
          </div>

          <div style="overflow-x: auto;">
            <table class="detail-table" style="border-collapse: collapse; min-width: 1400px;">
              <thead style="background-color: #eaeff7;">
                <tr>
                  <th>#</th>
                  <th>明細番号</th>
                  <th>材料番号</th>
                  <th>加工種類</th>
                  <th>厚さ</th>
                  <th>幅</th>
                  <th>長さ</th>
                  <th>重量</th>
                  <th>直径</th>
                  <th>外径</th>
                  <th>内径</th>
                  <th>カットサイズ</th>
                  <th>表面処理</th>
                  <th>仕様</th>
                  <th>数量</th>
                  <th>単価</th>
                  <th>小計</th>
                </tr>
              </thead>
              @for (item of infos; track $index) {
              <tbody>
                <tr>
                  <td>{{ $index + 1 }}</td>
                  <td><input type="text" [(ngModel)]="item.orderDetailID" disabled></td>
                  <td><input type="text" [(ngModel)]="item.materialID" disabled></td>
                  <td>
                    <select [(ngModel)]="item.processingType" style="width:160px" disabled>
                      <option value=null disabled>加工種類を選択</option>
                      <option value="ステンレス板材">ステンレス板材</option>
                      <option value="ステンレス丸棒">ステンレス丸棒</option>
                      <option value="ステンレスパイプ">ステンレスパイプ</option>
                      <option value="ステンレス一枚切断">ステンレス一枚切断</option>
                      <option value="ステンレスアングル">ステンレスアングル</option>
                      <option value="ステンレスチャンネル">ステンレスチャンネル</option>
                    </select>
                  </td>
                  <td><input type="number" [(ngModel)]="item.thickness" disabled>
                  </td>
                  <td><input type="number" [(ngModel)]="item.width" disabled>
                  </td>
                  <td><input type="number" [(ngModel)]="item.length" disabled>
                  </td>
                  <td><input type="number" [(ngModel)]="item.weight" disabled>
                  </td>
                  <td><input type="number" [(ngModel)]="item.diameter" disabled>
                  </td>
                  <td><input type="number" [(ngModel)]="item.outerDiameter" disabled>
                  </td>
                  <td><input type="number" [(ngModel)]="item.innerThickness" disabled>
                  </td>
                  <td><input type="number" [(ngModel)]="item.cuttingSize" disabled>
                  </td>
                  <td><input type="text" [(ngModel)]="item.surfaceTreatment" style="width:160px" disabled></td>
                  <td><input type="text" [(ngModel)]="item.specification" style="width:160px" disabled></td>
                  <td><input type="number" [(ngModel)]="item.quantity" disabled>
                  </td>
                  <td><input type="number" [(ngModel)]="item.unitPrice" disabled>
                  </td>
                  <td><input type="number" [(ngModel)]="item.subtotal" disabled></td>
                </tr>
              </tbody>
              }
            </table>
          </div>
        </section>


        <hr style="margin: 40px 0; border: none; border-top: 2px dashed #ccc;">
        <div class="actions">
          <button type="button" (click)="return()">戻る</button>
          <button type="submit" (click)="send()">保存する</button>
        </div>
      </div>
    </div>



  </div>
  }
</div>


<!--固定按鈕-->

<div class="toBottom" (click)="toButtom()" [ngClass]="{'show': showButton, 'hidden': !showButton}">
  @if(isAtBottom()){
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_upward_alt" class="arrow"></mat-icon>
  }@else {
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_downward_alt" class="arrow"></mat-icon>
  }
</div>
