.dialog-container {
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.dialog-scrollable {
  flex: 1;
  padding-bottom: 60px;
}

.search-area,
.advanced-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 12px;
  margin-bottom: 20px;
}

.mat-form-field-infix {
  padding: 0 2px !important;
  min-height: 24px !important;
}

.mat-input-element {
  padding: 1px 4px !important;
  height: 24px !important;
  font-size: 13px !important;
}

.search-toggle {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: auto;
}

.customer-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 13px;
}

.customer-table th {
  background-color: #eaeff7;
  padding: 8px;
  border-bottom: 2px solid #ccc;
  text-align: left;
  white-space: nowrap;
}

.customer-table td {
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
}


.customer-table tr:hover {
  background-color: transparent;
}

.dialog-actions {
  position: sticky;
  left: 0;
  width: 100%;
  background: white;
  padding: 12px 60px 14px 0;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  border-top: 1px solid #ddd;
  z-index: 10;
  
}

.button-primary {
  background-color: #4981cf;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 14px;
  border-radius: 6px;
  transition: background-color 0.3s;
  border: none;

  cursor: pointer;
}

.button-primary:hover {
  background-color: #356ac2;
}

.button-outline {
  background-color: transparent;
  border: 1.5px solid #4981cf;
  color: #4981cf;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 6px;
  transition: all 0.3s;
  cursor: pointer;
}

.button-outline:hover {
  background-color: #eaeff7;
}

.button-flat {
  font-size: 15px;
  padding: 4px 10px;
  color: #333;
  border: none;
  background: none;
  cursor: pointer;
}

.button-flat:hover {
  color: #4981cf;
}
