<!-- 登入頁面 -->
<div class="background">
  <div class="container">
    @if(successMessage){
    <div class="success-message">
      {{ successMessage }}
    </div>
    }
    <div class="login-container">
      <div class="login-form-wrapper">
        <h2 class="title">ログイン</h2>
        <div class="login-form">
          <div class="form-group">
            <input class="input-field" type="text" maxlength="100" placeholder="ユーザーアカウント" [(ngModel)]="account">
          </div>

          <div class="form-group">
            <input class="input-field" type="password" maxlength="20" placeholder="パスワード" [(ngModel)]="password">
          </div>

          <div class="form-group">
            <button class="submit-button" (click)="logIn()">ログイン</button>
            <div class="register-link">
              <a routerLink="/register1Page" routerLinkActive="active">新規登録はこちら</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>